.section12-block {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.block-category {
   width: 95%;
}

.block-category button {
    width: 24%;
    padding: 14px 0;
    background-color: #E3EAF3;
    border: 1px solid #E3EAF3;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #242424;
}

.block-category .active {
    background-color: #ffffff;
    border: 1px solid #E3EAF3;
}

.section12-block p {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 85%;
    line-height: 22px;
}

.block-product {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.product-item {
    border: 1px solid #E3EAF3;
}

@media screen and (max-width: 1024px){
    .product-item {
        width: 32%;
    }

    .product-item img {
        width: 100%;
    }
}
@media screen and (max-width: 425px){
  .section-12{
    padding: 12px 0;

  }
  .block-category{
    flex-wrap: wrap;
    width: 95%;
  }
  .block-category button{
    width: 100%;

  }
  .block-category button:not(:last-child){
    margin-bottom: 10px;
  }
}
